<header class="site-header">

	<div  class="{{ container_class }}">

		<div class="grid-x grid-margin-x align-justify">

			<div class="cell auto">
				<div class="site-title">
					{{ site.name }}
					<span> {{ site.description}} </span>
				</div>
			</div>
			<div class="cell shrink">
				<div class="button" id="NavTrigger" data-toggle="Panel">
					// Nav Trigger
				</div>
			</div>

		</div>

	</div>

	<nav class="site-nav {{ container_class }}" id="SiteNav">

			<ul class="nav-list">
				{% for item in menu.items %}
					<li><a href="{{ item.link }}">{{ item.title }}</a></li>
				{% endfor %}
			</ul>
	</nav>
</header>


<div id="Panel" class="is-hidden" data-toggler="is-hidden">
	<h2>You can't see me</h2>
</div>