{% extends "layouts/base.twig" %}

{% block content %}
	<h1>{{ title }}</h1>
	<section class="archive-listing-section">
			<div class="grid-x">
				<div class="cell">
					<div class="archive-listing">
						{% for post in posts %}
							{% include 'blocks/post-listing.twig' with { post: post, itemClass: 'archive-item'} %}
						{% endfor %}
					</div>
					<div class="pagination-container">
					    {% if posts.pagination.prev %}
					        <a href="{{posts.pagination.prev.link}}" class="prev {{posts.pagination.prev.link|length ? '' : 'invisible'}}">Prev</a>
					    {% endif %}
					    <ul class="pages">
					        {% for page in posts.pagination.pages %}
					            <li>
					                {% if page.link %}
					                    <a href="{{page.link}}" class="{{page.class}}">{{page.title}}</a>
					                {% else %}
					                    <span class="{{page.class}}">{{page.title}}</span>
					                {% endif %}
					            </li>
					        {% endfor %}
					    </ul>
					    {% if posts.pagination.next %}
					        <a href="{{posts.pagination.next.link}}" class="next {{posts.pagination.next.link|length ? '' : 'invisible'}}">Next</a>
					    {% endif %}
					</div>
				</div>
			</div>
	</section>
{% endblock %}