{% extends "layouts/base.twig" %}


{% block content %}

	<article class="author-item {{ itemClass }}" data-location="{{ post.link }}">
		<div class="media-object">
			<div class="media-object-section">
				<div class="thumbnail">
					<img alt="{{ author.name() }}" src="{{ author.avatar() }}"/>
				</div>
			</div>
			<div class="media-object-section">
				<div class="post-header">
					<h3 class="post-title">{{ author.name() }}</a></h3>
					<div class="post-meta-data">
						<div class="author-url">Website: <a href="{{ author.link() }}" target="_blank">{{ author.link()  }}</a></div>
						<div class="post-category {{ post.category.slug }}">
							{{ post.category }}
						</div>
					</div>
				</div>
			</div>
		</div>
		<p class="author-description">{{ author.description }}</p>
	</article>

{% endblock %}
