{% extends "layouts/base.twig" %}


{% block content %}
	<section class="">
			<div class="grid-x">
				<div class="cell auto">
					<div class="archive-listing">
						{% for post in posts %}
							{% include 'blocks/post-listing.twig' with { post: post, itemClass: 'archive-item'} %}
						{% endfor %}
					</div>
					<hr>
					{% if pagination is not empty %}
						<div class="tool-pagination">
							{% if pagination.prev %}
						        <a href="{{ pagination.prev.link }}" class="prev btn d-inline-block mr-3 {{ pagination.prev.link|length ? '' : 'invisible' }}">Prev</a>
						    {% endif %}
						    <ul class="pages list-unstyled d-inline-block">
						        {% for page in pagination.pages %}
						            <li class="d-inline-block mx-1">
						                {% if page.link %}
						                    <a href="{{ page.link }}" class="{{ page.class }}">{{ page.title }}</a>
						                {% else %}
						                    <span class="{{ page.class }}">{{ page.title }}</span>
						                {% endif %}
						            </li>
						        {% endfor %}
						    </ul>
						    {% if pagination.next %}
						        <a href="{{ pagination.next.link }}" class="next btn d-inline-block ml-3 {{ pagination.next.link|length ? '' : 'invisible' }}">Next</a>
						    {% endif %}
						</div>
					{% endif %}
				</div>
			</div>
		
	</section>
{% endblock %}